name: Auto Versioning and Deploy

on:
  push:
    branches:
      - develop

  pull_request:
    branches:
      - qa
      - qa_split

jobs:
  versioning:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout C贸digo
        uses: actions/checkout@v4

      - name: Configurar Git
        run: |
          git config --global user.name "Cutberto Hern谩ndez S谩nchez"
          git config --global user.email "cutberto.hdez.s@gmail.com"

      - name: Obtener ltima Versi贸n
        id: get_version
        run: |
          LAST_TAG=$(git describe --tags --abbrev=0 || echo "v0.0.0")
          IFS='.' read -r MAJOR MINOR PATCH <<< "${LAST_TAG//v/}"
          PATCH=$((PATCH + 1))
          NEW_TAG="v$MAJOR.$MINOR.$PATCH"
          echo "NEW_TAG=${NEW_TAG}" >> $GITHUB_ENV
          echo " Nueva versi贸n generada: ${NEW_TAG}"

      - name: Crear y Subir Nuevo Tag
        run: |
          git tag -a $NEW_TAG -m "Automated release: $NEW_TAG"
          git push origin $NEW_TAG

  merge-to-qa:
    needs: versioning
    runs-on: ubuntu-latest
    steps:
      - name: Checkout C贸digo
        uses: actions/checkout@v4

      - name: Merge Develop to QA
        run: |
          git fetch origin
          git checkout qa
          git merge origin/develop
          git push origin qa

  merge-to-qa-split:
    needs: merge-to-qa
    runs-on: ubuntu-latest
    steps:
      - name: Checkout C贸digo
        uses: actions/checkout@v4

      - name: Merge Develop to QA_Split
        run: |
          git fetch origin
          git checkout qa_split
          git merge origin/develop
          git push origin qa_split
